body{
    margin: 0;
    padding: 0;
}
.norm{
    width: 100vw;
 
   
}
.norm1{
    width: 62.5vw;
    border: 1px solid black;
    margin: 0 auto;
}
/***********diskint***********/
.intr{
    max-width: 20.5vw;
}
.intr1, .intr2{
    display: flex;
    align-items: start;
}
.intr1 > img{
    max-width: 5vw;
}
.intr2 > img{
    max-width: 5vw;
}
.intr12{
    font-family: 'PT Sans';
    font-size: 1.38vh;
    line-height: 1.85vh;
    color: #7b7b7b;
    margin-left: 1.48vw;
    max-width: 13.07vw;
}
.intr121{
    font-weight: bold;
    color: black!important;
    font-size: 1.48vh;
}
.intl{
    font-family: 'PT Sans';
    font-size: 1.67vh;
    line-height: 2.5vh;
    max-width: 25vw;
}
.intl1{
    display: flex;
    align-items: start;
}
.intlo{
    padding-top: 1vh;
    line-height: 3.98vh;
    font-size: 6vh;
}
.diskint{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.diskint > div{
    margin-top: 7.59vh;
    margin-bottom: 7.59vh;
}
/*************mera*************/
.mera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mera-l{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mera > *{
    width: 50vw;
}
.mera-rf>img{
    width: 50vw;
    max-height: 62.5vh;
    display: block;
}
.mera-rf{
    position: relative;
}
.mera-lt, .mera-lb{
    margin-left: 18.75vw; 
    margin-right: 3.65vw;
}
.mera-lt>p{
    color: #BEBEBE;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.7vh;
    line-height: 2.75vh;
    max-width: 24vw;
}
.mera-lb>img{
    height: 1.4vh;
    width: 0.7vw;
}
.mera-lb{
    margin-top: 2.4vh;
    margin-bottom: 3.52vh;
}
.merat{
    margin-top: 6.2vh;
    font-family: "Gilroy"!important;
    font-weight: 400 !important;
    font-size: 2.96vh !important;
    line-height: 3.33vh !important;
    color: white !important;
}
.mera-lb >span{
    font-family: 'PT Sans';
    font-size: 1.48vh;
    line-height: 2.22vh;
    color: #BEBEBE;
    margin-left: 0.78vw;
    
}
.mera-rf1{
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 1.7vh;
    line-height: 3.2vh;
    color:white;
    letter-spacing: 2px;
    position: absolute;
    top: 7vh;
    left: 4.1vw;
}
.mera-rs{
    font-family: 'PT Sans';
    font-size: 2.22vh;
    line-height: 2.22vh;
    padding: 1.38vh;
    background-color: #FF7028;
    color: white;
    position: absolute;
    top: 10.55vh;
    left: 4.1vw;

}
/************tromb**********/
.tromb0{
    margin-top: 7.4vh;
    margin-bottom: 9.26vh;
    display: flex;
    flex-direction: column;
}
.tromb{
    font-family: "Gilroy";
    font-size: 2.96vh;
    font-weight: 400;
    line-height: 3.33vh;
    color: #151716;
}
.tromb1{
    display: flex;
    margin-top: 2.59vh;
    align-items: end;
    justify-content: space-between;
}
.tromb2{
    position: relative;
}
.tromb22{
    display: block;
    max-height: 32.4vh;
    max-width: 14.9vw;
}
.tromb21{
    position: absolute;
    bottom: 2vh;
    left: 1.25vw;
}
.tromb212{
    opacity: 0.2;
    width: 12.4vw;
    height: 1px;
    background: #ffffff;
    margin-bottom: 1.85vh;
}
.tromb213{
    color: white;
    font-weight: 700;
    font-family: 'Gilroy';
    font-size: 1.85vh;
    line-height: 2.3vh;
}
/***********disk***************/
.disk{
    margin-top: 4.35vh;
    display: flex;
    justify-content: space-between;

}
.disk-l{
    padding-top: 4.25vw;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.diskt{
    font-size: 5.55vh;
    line-height: 5.93vh;
    color: white;
    font-family: 'Gilroy';
}
.diskmc > span{
    font-size: 1.85vh;
    line-height: 1.85vh;
    margin-left: 0.78vw;
    font-family: 'PT Sans';
}
.diskmc > img{
    height: 1.4vh;
    width: 0.7vw;
}
.disk-r{
    position: relative;
}
.disk-r > img{
    display: block;
    max-height: 51vh;
    width: 25vw;
}
.diskmi{
    margin-left: 0.78vw;
}
.diskc, .diskp{
    margin-bottom: 2.22vh;
}
.diskp, .diskg{
    margin-top: 2.22vh;
}
.diskml{
    height: 1px;
    background: linear-gradient(to right, #4b4b4b, #26262500);
}
.diskm{
    max-width: 19.53vw;
    margin-top: 5.37vh;
}
.diskmf{
    display: flex;
    margin-bottom: 2.96vh;
}
.diskmfi{
    width: 31px;
    height: 2px;
}
.diskmfi:not(:first-child){
    margin-left: 0.93vw;
}
.diskpr{
    font-family: 'PT Sans';
    font-size: 2.22vh;
    line-height: 2.22vh;
    padding: 1.38vh;
    background-color: #FF7028;
    color: white;
    position: absolute;
    top: 28.43vh;
    left: 6.3vw;
}
/***************header*************/
.norm1-r, .norm1-l{
    display: flex;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.52vh;
    padding-bottom: 3.52vw;
}
.norm1-rl{
    margin-left: 1.35vw;
    font-family: 'PT sans';
    font-size: 1.6vh;
    line-height: 1.85vh;
}
.somt{
    margin-right: 0.47vw;
    font-family: 'PT sans';
    font-size: 1.48vh;
    line-height: 1.92vh;
}
.somt1{
    margin-left: 1.7vw;
    padding: 0.5vw;
}
/****************************************/
@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/gilroy-regular.eot'); 
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gilroy-regular.woff2') format('woff2'), 
		url('../fonts/gilroy-regular.woff') format('woff'), 
		url('../fonts/gilroy-regular.ttf') format('truetype'), 
		url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); 
}

/*******************color*****************/

.p1{
    color: #999999;
}
.p2{
    color: #939393;
}
.p3{
    color: #BEBEBE;
}
.plt{
    color: #7b7b7b;
}
.pol{
    background-color: #f6f6f6;
}
.gr{
    background-color: #575757;
}
.grb{
    border: 1px solid #494949;

}
.or{
    color: #fe5b00;
}
.orb{
    background-color: #ff702b;
}
.drb{
    color: #151716;
}
.dbk{
    background-color: #060707d9;
}