body {
    margin: 0;
    padding: 0;
}

.norm {
    width: 100vw;


}

.norm1 {
    width: 62.5vw;
    margin: 0 auto;
}

.norm-1rl {
    margin-left: 1.35vw;
}

/***********diskint***********/

.intr1,
.intr2 {
    display: flex;
    align-items: start;
}

.intr1>img {
    padding-top: 1.4vh;
    max-width: 5vw;
}

.intr2>img {
    padding-top: 1.4vh;
    max-width: 5vw;
}

.intr12 {
    font-family: 'PT Sans';
    font-size: 1.38vh;
    line-height: 1.85vh;
    color: #7b7b7b;
    margin-left: 1.48vw;
}

.intr121 {
    font-weight: bold;
    color: black !important;
    font-size: 1.48vh;
}

.intl {
    font-family: 'PT Sans';
    font-size: 1.67vh;
    line-height: 2.5vh;
}

.intl1 {
    display: flex;
    align-items: start;
}

.intlo {
    padding-top: 1vh;
    line-height: 3.98vh;
    font-size: 6vh;
}

.diskint {
    display: flex;
    justify-content: space-between;
}



/*************mera*************/
.mera {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mera-l {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mera>* {
    width: 50vw;
}

.mera-rf>img {
    width: 50vw;
    max-height: 62.5vh;
    display: block;
}

.mera-rf {
    position: relative;
}

.mera-lt,
.mera-lb {
    margin-left: 18.75vw;
    margin-right: 3.65vw;
}

.mera-lt>p {
    color: #BEBEBE;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.7vh;
    line-height: 2.75vh;
    max-width: 24vw;
}

.mera-lb>img {
    height: 1.4vh;
    width: 0.7vw;
}

.mera-lb {
    margin-top: 2.4vh;
    margin-bottom: 3.52vh;
}

.merat {
    margin-top: 6.2vh;
    font-family: "Gilroy" !important;
    font-weight: 400 !important;
    font-size: 2.96vh !important;
    line-height: 3.33vh !important;
    color: white !important;
}

.mera-lb>span {
    font-family: 'PT Sans';
    font-size: 1.48vh;
    line-height: 2.22vh;
    color: #BEBEBE;
    margin-left: 0.78vw;

}

.mera-rf1 {
    font-family: 'PT Sans';
    font-weight: 700;
    line-height: 3.2vh;
    color: white;
    letter-spacing: 2px;
    position: absolute;
}

.mera-rs {
    font-family: 'PT Sans';
    padding: 1.38vh;
    background-color: #FF7028;
    color: white;
    position: absolute;

}

/************tromb**********/
.tromb0 {
    margin-top: 7.4vh;
    margin-bottom: 9.26vh;
    display: flex;
    flex-direction: column;
}

.tromb {
    font-family: "Gilroy";
    text-align: center;
    font-size: 2.96vh;
    font-weight: 400;
    line-height: 3.33vh;
    color: #151716;
    letter-spacing: -0.5px;
}

.tromb1 {
    display: flex;
    margin-top: 2.59vh;
    align-items: end;
    justify-content: space-between;
}

.tromb2 {
    position: relative;
}

.tromb22 {
    display: block;
    max-height: 32.4vh;
    max-width: 14.9vw;
}

.tromb21 {
    position: absolute;
    bottom: 2vh;
    left: 1.25vw;
}

.tromb213 {
    color: white;
    font-weight: 700;
    font-family: 'Gilroy';
    font-size: 1.85vh;
    line-height: 2.3vh;
}

/**********actions***********/
.actions220 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125vw;
    height: 3.33vh;
    font-family: 'PT Sans';
    font-size: 2.22vh;
    line-height: 2.22vh;
    background-color: #FF7028;
    color: white;
    position: absolute;
    top: 1.11vh;
    right: 0.62vw;
}

.actions222 {
    position: absolute;
    font-family: 'PT Sans';
    font-size: 1.85vh;
    font-weight: 700;
    line-height: 1.85vh;
    color: #151716;
}

.actions223 {
    position: absolute;
    font-family: 'PT Sans';
    font-size: 1.48vh;
    font-weight: 400;
    line-height: 1.48vh;
    color: #A5A5A5;
}

.actions2202 {
    display: flex;
    padding: 0.74vh 0.57vw;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans';
    font-size: 1.48vh;
    font-weight: 700;
    line-height: 1.85vh;
}

.actions0 {
    margin-bottom: 1.85vh;
}

.actions {
    display: flex;
    flex-direction: column;
    margin-top: 7.4vh;
    margin-bottom: 7.4vh;
}

.actions1 {
    display: flex;
    justify-content: center;
}

.actions2 {
    position: relative;
    padding: 2.22vh 1.04vw;
    padding-bottom: 4vh;
    border: 1px solid #ECECEC;
}


.actions22 {
    display: block;
    margin-bottom: 1.85vh;
    margin-right: 5.2vw;
}

.actions213 {
    font-family: 'PT Sans';
    font-size: 1.48vh;
    font-weight: 400;
    line-height: 2vh;

}

/*************parol**********/
.parol {
    display: flex;
    flex-direction: column;

}

.parol0 {
    margin: 0 auto;
    margin-top: 6.48vh;
}

.parol1 {
    margin-left: 6.25vw;
    margin-top: 5vh;
    margin-bottom: 7.4vh;
    display: flex;
    justify-content: space-between;
    max-width: 49.94vw;
}

.parol11 {
    display: flex;
    justify-content: center;
}

.parol12 {
    width: 10.4vw;
}

.parol120 {
    width: 14.7vw;
}

.parol121 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parol122 {
    display: flex;
    font-family: 'Gilroy';
    font-size: 1.85vh;
    font-weight: 400;
    line-height: 2.15vh;
    justify-content: center;
    color: #151716;
    margin-top: 2.22vh;
}

.parol1220 {
    margin-top: 1vh;
    text-align: center;
    font-family: 'PT Sans';
    font-size: 1.38vh;
    line-height: 1.85vh;
    color: #7b7b7b;

}

/**********the***************/
.the0 {
    position: relative;
}

.the0>img {
    display: block;
}

.the {
    width: 100vw;
}

.the1 {
    text-align: center;
    background: #F6761A;
    color: white;
    font-family: 'Gilroy';
    font-size: 2.6vh;
    line-height: 3.33vh;
    padding-bottom: 4.35vh;
    padding-top: 3.9vh;
    ;
}

/***********disk***************/
@media (min-width: 1250px) {
    .actions22 {
        height: 17.4vh;
        width: 9.38vw;
    }
    .actions213 {
        width: 13.54vw;
    }

    .disk {
        display: flex;
        justify-content: space-between;

    }
    
    .diskt{
    padding-top: 4.25vw;
    }
    .disk-l{
        padding-top: 4.25vw;
    }
    .diskpr1 {
        top: 28.43vh;
        left: 6.3vw;
    
    }
    .diskint {
        flex-direction: row;
    }
    .diskint>div {
        margin-top: 7.59vh;
        margin-bottom: 7.59vh;
    }
    .intr12 {
        max-width: 13.07vw;
    }
    .intr {
        max-width: 20.5vw;
    }
    .intl {
        max-width: 25vw;
    }
    .actions2:not(:first-child) {
        border-left: none;
   
    }
    .actions222 {
        left: 0.9vw;
        bottom: 0.9vh;
    }
    .actions223 {
        left: 6vw;
        bottom: 0.8vh;
    }
    .the1 {
        position: absolute;
    }
}

@media (max-width: 1250px) {
    .mera {
        flex-direction: column;
        align-items: center;
    }
    .mera-lt, .mera-lb{
        margin-left: 0;
    }
    .mera-lt>p{
        max-width: 44vw;
    }
    .mera-l{
        align-items: center;
    }
    .merat{
        text-align: center;
    }
    .disk {
        margin-top: 4.35vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .disk-l, .disk-r{
        align-items: center;
    }
    .diskm{
        margin: 0 auto;
    }
    .diskmf{
        margin-top: 1vh;
    }
    .disk-l{
        text-align: center;
    }
    .desk{
        margin: 0 auto;
    }
    .diskpr1 {
        top: 40%!important;
        left: 30%!important;
    
    }
    .diskint {
        align-items: center;
        flex-direction: column;
    }
    .diskint>div {
        margin-top: 2vh;
    }
    .actions1{
        flex-direction: column;
        align-items: center;
    }
    .actions0{
        text-align: center;
    }
    .actions213{
        width: 40vw;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    .actions22 {
        margin: 0 auto;
        height: 400px;
        width: 360px;
    } 
    .actions222 {
        left: 20vw;
        bottom: 2vh;
    }
    .actions223 {
        left: 20.5vw;
        bottom: 0.5vh;
    }
    .actions220 {
        width: 3.125vw;
        height: 3.33vh;
    }
    .actions2202 {
        font-size: 1.48vh;
        line-height: 1.85vh;
    }
    .parol1 {
        flex-direction: row;
        margin: 0 auto;
        padding: 3.4vh;
    }
    .parol12{
        width: 50vw;
    }
    .parol120{
        width: 50vw;
    }
    .the1 {
        position: relative;
        left: 0;
    }
}
@media (max-width: 1000px) {
     .actions22 {
        height: 300px;
        width: 250px;
    }
    .actions220 {
        height: 2vh;
    }
    .actions2202 {
        line-height: 1.15vh;
    }
    .parol1{
        flex-direction: column;
    }
}

@media (min-width: 600px) {
    .mera-rs{
        line-height: 2.22vh;
        font-size: 2.22vh;
        top: 10.55vh;
        left: 4.1vw;
    }
    .mera-rf1{
        font-size: 1.7vh;
        top: 7vh;
        left: 4.1vw;
    }  
}
@media(max-width: 600px){
    .desk{
        width: 90%;
    }
    .mera-rs{
        line-height: 0vh;
        font-size: 1.1vh;
        top: 30%;
        left: 10%;
    }
    .mera-rf1{
        font-size: 1.1vh;
        top: 10%;
        left: 10%;
    }
    .actions22 {
        height: 200px;
        width: 150px;
    }
    .actions220 {
        width: 5vw;
        height: 2vh;
    }
    .actions2202 {
        font-size: 1vh;
        line-height: 1vh;}
}
@media (min-width: 450px) {
    
    .diskpr {
        font-size: 2.22vh;
        line-height: 2.22vh;
}
.diskt {
    font-size: 5.55vh;
}
}
@media (max-width: 450px) {
    .diskpr {
        font-size: 1.5vh ;
        line-height: 0vh ;
}
.diskt {
    font-size: 3.55vh ;
}
}
.disk-l {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.disk-r {
    position: relative;
}


.diskt {
    font-size: 5.55vh;
    line-height: 5.93vh;
    color: white;
    font-family: 'Gilroy';
}

.diskmc>span {
    font-size: 1.85vh;
    line-height: 1.85vh;
    margin-left: 0.78vw;
    font-family: 'PT Sans';
}


.disk-r>img {
    display: block;
}

.diskmi {
    margin-left: 0.78vw;
}

.diskc,
.diskp {
    margin-bottom: 2.22vh;
}

.diskp,
.diskg {
    margin-top: 2.22vh;
}

.diskml {
    height: 1px;
    background: linear-gradient(to right, #4b4b4b, #262625);
}

.diskml0 {
    width: 12.4vw;
    height: 1px;
    background: linear-gradient(to right, #4b4b4b, 75%, #262625);
    margin-bottom: 1.85vh;
}

.diskm {
    max-width: 19.53vw;
    margin-top: 5.37vh;
}

.diskmf {
    display: flex;
    margin-bottom: 2.96vh;
}

.diskmfi {
    width: 31px;
    height: 2px;
}

.diskmfi:not(:first-child) {
    margin-left: 0.93vw;
}

.diskpr {
    font-family: 'PT Sans';
    padding: 1.38vh;
    background-color: #FF7028;
    border-radius: 2px;
    color: white;
}

.diskpr0 {
    margin-left: 0.3vw;
    margin-top: -2.8vh;
    display: block;
    height: 4.62vh;
    width: 100%;
    border: 1px solid #FF7028;
    border-radius: 2px;
}

.diskpr1 {
    position: absolute;
    top: 28.43vh;
    left: 6.3vw;

}

.diskpt {
    position: absolute;
    left: 73vw;
}

.tops {
    background: linear-gradient(to left, #575757 35.5% 64.5%, #F5702C 64.5% 35.5%);
}

/***************header*************/
@media (min-width: 750px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3.52vh;
        padding-bottom: 3.52vw;
    }

    .norm1-r,
    .norm1-l {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 750px) {

    .norm1-r,
    .norm1-l {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .norm1-r>*,
    .norm1-l>* {
        margin-bottom: 1vh;
        margin-top: 1vh;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 3.52vh;
        padding-bottom: 3.52vw;
    }
}

.norm1-rl {
    margin-left: 1.35vw;
    font-family: 'PT sans';
    font-size: 1.6vh;
    line-height: 1.85vh;
}

.somt {
    margin-right: 0.47vw;
    font-family: 'PT sans';
    font-size: 1.48vh;
    line-height: 1.92vh;
}

.somt1 {
    margin-left: 1.7vw;
    padding: 0.5vw;
}

/************end*****************/
.The {
    font-family: 'Roboto';
    font-size: 1.11vh;
    font-weight: 400;
    line-height: 1.3vh;
    text-align: center;
    color: #747474;
}

.end {
    position: relative;
    display: flex;
    background: #202122;
    padding-top: 5.6vh;
    padding-bottom: 10.2vh;
}

.theend {
    display: flex;
    position: absolute;
    bottom: 2.22vh;
    right: 18.6vw;
}



.endi {
    height: 3.24vh;
}

.end2 {
    margin-left: 2.86vw;
}



.end4 {
    margin-left: 4.2vw;
}

.endt {
    font-family: 'Gilroy';
    font-size: 1.48vh;
    font-weight: 700;
    line-height: 1.79vh;
    text-align: left;
    color: white;
    margin-left: 0.78vw
}

.p4 {
    color: #BEBEBE;
    font-family: 'PT Sans' !important;
    font-size: 1.48vh !important;
    font-weight: 400 !important;
    line-height: 2.22vh !important;
    margin-left: 0.625vw !important;
}

.p41 {
    color: #BEBEBE;
    font-family: 'PT Sans' !important;
    font-size: 1.48vh !important;
    font-weight: 400 !important;
    line-height: 2.22vh !important;
    margin-left: 0.5vw !important;
}

.p42 {
    color: #BEBEBE;
    font-family: 'PT Sans' !important;
    font-size: 1.48vh !important;
    font-weight: 400 !important;
    line-height: 2.22vh !important;
    margin-left: 0.2vw !important;
}

.endy {
    height: 1.85vh !important;
    width: 1.04vw !important;
}

.end01 {
    display: flex;
    align-items: center;
}

.PS>img {
    width: 3.9vw;
    height: 5.3vh;
    margin: 0 auto;
    padding-top: 4vh;
    padding-bottom: 4vh;
    color: #303030;
}

.PS {
    display: flex;
    justify-content: center;
    background: #202122;
}

.wrd {
    width: 100vw;
    height: 0.5px;
    background: #2C2D2E;
}

.lt {
    margin-left: 1.25vw;
    border: 0.1px solid #494949;
    border-radius: 0.6px;
    padding: 0.7vh 0.625vw;
}

.tik {
    margin-top: 0.7vh;
}

/*******************fonts*********************/
@font-face {
    font-family: 'Gilroy';
    src: url(content/font/gilroy-regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(content/font/Roboto-Regular.ttf);
}

/*******************color*****************/

.p1 {
    color: #999999;
}

.p2 {
    color: #939393;
}

.p3 {
    color: #BEBEBE;
}

.plt {
    color: #7b7b7b;
}

.pol {
    background-color: #f6f6f6;
    position: relative;
}

.gr {
    background-color: #575757;
}

.grb {
    border: 1px solid #494949;

}

.or {
    color: #fe5b00;
}

.orb {
    background-color: #ff702b;
}

.drb {
    color: #151716;
}

.dbk {
    background-color: #060707d9;
}
.was{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.qw12{
    display: flex;
    justify-content: center;
}
@media (min-width: 1150px) {
    .end3 {
        margin-left: 3.75vw;
    }
    .end1 {
        margin-left: 4.48vw;
    }
    .endi {
        margin-left: 18.75vw;
    }
}
@media (max-width: 1150px) {
    .end3 {
        margin-left: 0;
    }
    .end{
        flex-direction: column;
        row-gap: 35px;
    }
    .end1 {
        margin-left: 2.5vw;
    }
    .endi {
        margin-left: 0;
    }
}